@main("Acerca de") {
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">Acerca del Equipo 1</h3>
        </div>
        <div class="jumbotron">
            <h1>Sistema Gestor de Tareas</h1>
            <p class="lead">
                SGT es innovación, originalidad, extravagancia... Que va, es la típica aplicación de ToDO-list
            </p>
        </div>
        <div class="team">
            <h2>El Equipo</h2>
            <ul>
                <li>Daniel Moreno González</li>
                <li>Pavel Razgovorov</li>
                <li>Esperanza Cutillas Rastoll</li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <p>© 2017 Metodologías Ágiles de Desarrollo Software, Universidad de Alicante. <i>
            Versión 1.2 (21/12/2017)</i></p>
    </footer>
}
